@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jaro:opsz@6..72&family=Jersey+15&family=Parkinsans:wght@300..800&family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12px;
}
html{
    width: 100vw;
}

body{
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10dvh;
    z-index: 100;
    padding: 10px 100px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.header h4{ 
    color: black;
    width: 12%;
    z-index: 100;
}
.header h4 a{
    font-size: 9px;
}

.header-nav{
    position: absolute;
    width: 100%;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    height: 15dvh;
}

.header-nav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 900px;
    font-size: 9px;
}

.header-nav li:hover{
    transform: scale(1.05);
    font-weight: bold;
}

.header-nav-social-media{
    width: 12%;
    z-index: 100;

}

.header-trigger{
    position: absolute;
    width: 100%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15dvh;
}

.header-trigger img{
    width: 16px;
}

.header-nav-social-media ul{
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: right;
}

.header-nav-social-media ul li:hover{
    transform: scale(1.05);
    opacity: .8;
}


.header-nav-list{
    display: flex;
    gap: 30px;
    list-style: none;

}


button{
    background-color: transparent;
    border: none;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}

.menu-open-button {
    cursor: pointer;
}

/* Menú desplegable */
.menu-overlay {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: top 0.5s ease;
    padding: 10px 100px;
    z-index: 1000;
}

.menu-overlay-list{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
}

.menu-overlay ul li a{
    color: black;
    font-size:9px;
    font-weight: bold;
}

.menu-overlay ul li:hover{
    transform: scale(1.1);

}

.menu-overlay h4{
    color: black;
    width: 12%;
    font-size: 9px;
}

.menu-overlay-header{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10dvh;
    padding: 10px 100px;
    z-index: 100;

}

.menu-overlay-header-nav-social-media{
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.menu-overlay-header-nav-social-media-list{
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;
    width: 12%;
}


.menu-overlay-header-nav-social-media-list img{
    width: 20px;
}

/* Botón de cierre */
.close-btn {
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 24px;
    cursor: pointer;
}

.close-btn img{
    width: 28px;
}




@keyframes slideUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@media (max-width : 900px){
    .header{
        padding: 10px 30px;
    }
    .header h4{
        font-size: 9px;
    }

    .menu-open-button:hover{
        opacity: 0.8;
        transform: scale(1.2);
    }
    .menu-overlay ul li a{
        font-size: 12px;

    }
    
}


@media (min-width : 300px){
    .menu-overlay ul li a{
        font-size: 10px;

    }
}

@media (min-width : 400px){
    .menu-overlay ul li a{
        font-size: 12px;

    }
}

@media (min-width : 500px){
    .menu-overlay ul li a{
        font-size: 14px;

    }
}


@media (min-width : 800px){
    .menu-overlay ul li a{
        font-size: 18px;

    }
}

@media (min-width : 1000px){
    .menu-overlay ul li a{
        font-size: 22px;

    }
}

@media (min-width : 650px){
    .menu-overlay ul li a{
        font-size: 16px;

    }
}

@media (max-width: 900px) {

    video{
        width: 200vw;
    }
} 

.scale-down-horizontal-left{
    animation:scale-down-horizontal-left 0.4s

} 
@keyframes scale-down-horizontal-left
{
    0%{
        transform:scaleX(1); 
        transform-origin:0 0
    }
    100%
    {
        transform:scaleX(.3);
         transform-origin:0 0
    }
}

  /* Movimiento del contenido hacia arriba */
  body.moving-up {
    transform: translateY(-100%);
    transition: transform 5s ease-in-out;
  }
/* Pantalla de transición */
.transition-screen {
    position: fixed;
    background-color: white;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;   
    z-index: 1000;
    transition: bottom 1.2s ease-in-out;
  }


.transition-screen-out {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;   
    z-index: 1000;
    background-color: white;
    transition: top 2s ease-in-out;
}

.header-nav-social-media-list-item img {
    width: 20px;
}

.container-img{
    width: 100%;
    max-width: 1100px;
    margin-top: 100px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 300px;
    grid-gap: 20px;
}

.container-img .box-img figure,.container-img .box-img video{
    width: 100%;
    height: 100%;
}

.container-img .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-img .box-img:nth-child(1){
    grid-column-start: span 2;
}

.container-img .box-img:nth-child(4){
    grid-row-start: span 2;
}



@media screen and (max-width : 500px){

    .menu-overlay-header{
        padding: 10px 30px;
    }
    
    .container-img{
        width: 90%;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
    }

    .container-img .box-img img{
        grid-row-start: span 2;
    }

    .container-img .box-img:nth-child(7){
        grid-column-start: span 2;
    }
}