

.container-img .box-img:nth-child(1),.container-img .box-img:nth-child(2),.container-img .box-img:nth-child(3){
    grid-row-start: span 2;
    grid-column-start: span 1;
}

.container-img video{
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width : 500px){

    .menu-overlay-header{
        padding: 10px 20px;
    }

    .container-img{
        width: 90%;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
    }

    .container-img .box-img:nth-child(1),.container-img .box-img:nth-child(2),.container-img .box-img:nth-child(3){
        grid-row-start: span 2;
        grid-column-start: span 2;
        height: auto;
    }

}